<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Import head with styles and script-->
<head th:include="fragments :: head">
    <title id="pageTitle">Мої колективи</title>
</head>
<body>
<!--Import navigation bar-->
<div th:replace="fragments :: navibar"></div>
<!--Set variable notes.size() & current endpoint-->
<div th:with="listSize=${#lists.size(groups)}, endpoint=${#httpServletRequest.requestURI}">
    <!--In case the list is empty-->
    <div th:if="${listSize <= 0}">
        <h2 th:switch="${endpoint}">
            <!--Render correct title after search-->
            <span th:case="'/note/search'">No notes with such content</span>
            <!--In other cases-->
            <span th:case="*" >Колективів ще не було</span>
            <a href="/group/create">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Створити колектив</button>
            </a>
        </h2>
    </div>
    <!--Unless the list is empty/ Rendering content-->
    <div th:unless="${listSize <= 0}">
        <h2 th:switch="${endpoint}">
            <!--Render correct title after search "Result + size"-->
            <span th:case="'/note/search'">Знайдені нотатки - <span th:text="${listSize}"></span></span>
            <!--In other cases show "My notes + size"-->
            <span th:case="*" >Мої колективи - <span th:text="${listSize}"></span></span>
            <a href="/group/create">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Створити колектив</button>
            </a>
        </h2>
        <table class="table table-hover" id="tab">
            <thead>
            <tr>
                <th class="col-sm-1" scope="col">Назва</th>
                <th scope="col">Короткий опис</th>
                <th class="col-sm-2" scope="col" colspan="3"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group : ${groups}">
                <td scope="row" th:text="${group.name}"></td>
                <!-- method to truncate note content and add url button for read more -->
                <td class='content' th:data-href="@{/group/share?id={id}(id=${group.id})}"
                    th:text="${group.description}"></td>
                <td align="center">
                    <a th:href="@{/group/edit?id={id}(id=${group.id})}">
                        <button class="btn btn-outline-success my-2 my-sm-0">Редагувати</button>
                    </a>
                </td>
                <td align="center">
                    <a th:href="@{/groupNote/list?id={id}(id=${group.id})}">
                        <button class="btn btn-outline-success my-2 my-sm-0">Нотатки колективу</button>
                    </a>
                </td>
                <td align="center">
                    <button type="button" class="btn btn-outline-danger my-2 my-sm-0" data-toggle="modal"
                            data-target="#deleteGroupModal"
                            th:data-group-id="${group.id}" th:data-group-name="${group.name}">Видалити
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal window with warning for delete operation-->
<div th:replace="fragments :: deleteGroupModal"></div>

<!-- scripts -->
<script src="/js/copyFunction.js"></script>
<script src="/js/modal.js"></script>
<!-- method to truncate note content and add url button for read more -->
<script src="/js/trimTextToSize.js"></script>
</body>
</html>