<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Import head with styles and script-->
<head th:include="fragments :: head">
    <title id="pageTitle">My groups</title>
</head>
<body>
<!--Import navigation bar-->
<div th:replace="fragments :: navibar"></div>
<!--Set variable notes.size() & current endpoint-->
<div th:with="listSize=${#lists.size(groups)}, endpoint=${#httpServletRequest.requestURI}">
    <!--In case the list is empty-->
    <div th:if="${listSize <= 0}">
        <h2 th:switch="${endpoint}">
            <!--Render correct title after search-->
            <span th:case="'/note/search'">No notes with such content</span>
            <!--In other cases-->
            <span th:case="*" >No groups yet</span>
            <a href="/group/create">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Create</button>
            </a>
        </h2>
    </div>
    <!--Unless the list is empty/ Rendering content-->
    <div th:unless="${listSize <= 0}">
        <h2 th:switch="${endpoint}">
            <!--Render correct title after search "Result + size"-->
            <span th:case="'/note/search'">Found notes - <span th:text="${listSize}"></span></span>
            <!--In other cases show "My notes + size"-->
            <span th:case="*" >My groups - <span th:text="${listSize}"></span></span>
            <a href="/group/create">
                <button class="btn btn-warning my-2 my-sm-0" type="submit">Create</button>
            </a>
        </h2>
        <table class="table table-hover" id="tab">
            <thead>
            <tr>
                <th class="col-sm-1" scope="col">Name</th>
                <th scope="col">Description</th>
                <th class="col-sm-2" scope="col" colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group : ${groups}">
                <td scope="row" th:text="${group.name}"></td>
                <!-- method to truncate note content and add url button for read more -->
                <td class='content' th:data-href="@{/group/share?id={id}(id=${group.id})}"
                    th:text="${group.description}"></td>
                <td align="center">
                    <a th:href="@{/group/edit?id={id}(id=${group.id})}">
                        <button class="btn btn-outline-success my-2 my-sm-0">Edit</button>
                    </a>
                </td>
                <td align="center">
                    <button type="button" class="btn btn-outline-danger my-2 my-sm-0" data-toggle="modal"
                            data-target="#deleteModal"
                            th:data-group-id="${group.id}" th:data-group-name="${group.title}">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal window with warning for delete operation-->
<div th:replace="fragments :: modalDelete"></div>

<!-- scripts -->
<script src="/js/copyFunction.js"></script>
<script src="/js/modal.js"></script>
<!-- method to truncate note content and add url button for read more -->
<script src="/js/trimTextToSize.js"></script>
</body>
</html>