<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Import head with styles and script-->
<head th:include="fragments :: head">
    <title id="pageTitle">New group note</title>
</head>
<body>
<!--Import navigation bar-->
<div th:replace="fragments :: navibar"></div>
<div class="container">

    <!--Title-->
    <p class="titleErrorField" style="color:red"></p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-lg">Title</span>
        </div>
        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
               id="title" name="title" type="text" minlength="5" maxlength="100" placeholder="Your title here">
    </div>

    <div class="input-group mb-3">
        <input class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
               id="group" name="group" type="hidden" minlength="5" maxlength="100" value="${groupId})">
    </div>

    <!--Content-->
    <p class="contentErrorField" style="color:red"></p>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Note</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" placeholder="Write your note here"
                  id="note" name="note" cols="150" rows="20" minlength="5" maxlength="10000"></textarea>
    </div>

    <!--Access-->
    <button class="btn btn-outline-success btn-block" type="button" onclick="sendGroupNoteToCreate()">Create</button>

</div>
</body>
<script src="/js/sendGroupNoteToCreate.js"></script>
<!--Script that makes all inputs the same width-->
<script src="/js/style.js"></script>
</html>